body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-logo {
  width: 530px;
  height: 160px;
}
.icon-logo {
  width: 160px;
  height: 60px;
  position: absolute;
  left: 48%;
}

.auth-forms {
  padding: 35px;
  border-radius: 5%;
  margin: 35px;
  width: 70%;
  background-color: #575f7a;
  position: absolute;
  top: 40%;
  left: 8.5%;
  font-size: 20px;
}

.select-state {
  color: yellow;
}

.auth-button1 {
  margin: 7px;
  padding: 7px;
  background-color: white;
  margin: 10;
  position: absolute;
  left: 6%;
  bottom: 4%;
}
.auth-button2 {
  margin: 7px;
  padding: 7px;
  margin: 10;
  background-color: white;
  position: absolute;
  left: 6%;
  bottom: 27%;
}

.auth-google-button1 {
  margin: 7px;
  padding: 7px;
  background-color: white;
  position: absolute;
  left: 39%;
  bottom: 4%;
}
.auth-google-button2 {
  margin: 7px;
  padding: 7px;
  position: absolute;
  background-color: white;
  left: 33%;
  bottom: 27%;
}

input {
  width: 150px;
  height: 30px;
  border-radius: 7%;
}

select {
  width: 160px;
  height: 40px;
}

.google-logo1 {
  width: 30px;
  height: 29.2px;
  position: absolute;
  bottom: 5.4%;
  border-bottom: solid 2px black;
  border-top: solid 2px gray;
  left: 54%;
}

.google-logo2 {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 28.83%;
  border-bottom: solid 2px black;
  border-top: solid 2px gray;
  left: 48%;
}

.error-message {
  position: absolute;
  bottom: -10%;
  font-size: 12px;
}

.welcome-header {
  position: absolute;
  left: 44%;
  font-size: 22px;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
}

.option-or {
  position: absolute;
  bottom: 15%;
  color: white;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-decoration: underline solid blue;
}

#sign-up {
  color: white;
  text-decoration: underline solid blue;
}
