/* GENERAL CSS */
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  font-family: 'Lucida Console', Monaco, monospace;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.nav-a-text:hover {
  /* On mouse-over, make the elements appear as they should */
  color: darkblue;
  transform: scale(1.2);
}
/* CSS FOR NAVBAR AND LOGO */
form div {
  margin: 1em;
  display: inline-block;
}

img {
  height: 200px;
  width: 200px;
}

.flex {
  display: flex;
}

.nav-logo {
  width: 340px;
  height: 115px;
}

.nav-logo:hover {
  animation: bounce 2.5s infinite;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-6px);
  }
}
.icon-logo {
  width: 160px;
  height: 60px;
  position: absolute;
  left: 48%;
}
.cart-image {
  width: 70px;
  height: 60px;
  position: absolute;
  left: 93%;
  top: 12%;
}

cart-image:hover {
  width: 70px;
  height: 60px;
  position: absolute;
  left: 93%;
  top: 12%;
}
/* CSS FOR USER LOGIN AND SIGNUP COMPONENTS */
.auth-forms {
  padding: 35px;
  border-radius: 2%;
  margin: 35px;
  width: 70%;
  position: absolute;
  top: 40%;
  left: 8.5%;
  background-color: #f7f5f0;
  font-size: 20px;
}

.select-state {
  background-color: lightblue;
}

.auth-button1 {
  width: 12.5%;
  height: 8.5%;
  background-color: white;
  position: absolute;
  left: 80%;
  bottom: 10%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.auth-button2 {
  width: 12.5%;
  height: 8.5%;
  background-color: white;
  position: absolute;
  left: 80%;
  bottom: 10%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

input {
  width: 150px;
  height: 30px;
  border-radius: 7%;
}

select {
  width: 160px;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 6%;
}

.error-message {
  position: absolute;
  bottom: -10%;
  font-size: 12px;
}

.welcome-header {
  position: absolute;
  left: 46%;
  font-size: 22px;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
}

.welcome-text {
  margin: 1em;
  font-size: 20px;
  position: absolute;
  top: 30%;
  color: black;
  text-transform: uppercase;
  font-family: 'Lucida Console', Monaco, monospace;
  animation: bounce 2.5s infinite;
}

.option-or {
  position: absolute;
  bottom: 15%;
  color: black;
  font-size: 18px;
  letter-spacing: 1.5px;
  text-decoration: underline solid blue;
}

.select#selectstate {
  border-width: 1px;
}

#login-sign-button {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 17px;
  bottom: 6.5%;
  left: 3.3%;
  padding: 7px;
  margin: 7px;
}

#login-sign-button2 {
  color: black;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  bottom: 28%;
  left: 3.3%;
  padding: 7px;
  margin: 7px;
}

#sign-up {
  color: black;
  text-decoration: underline solid blue;
  position: absolute;
  font-size: 22px;
  bottom: 10%;
  left: 3.3%;
}

.checkout-shipping-header {
  position: absolute;
  left: 43%;
  font-size: 22px;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.checkout-forms {
  padding: 35px;
  margin: 35px;
  width: 70%;
  border-radius: 2%;
  position: absolute;
  top: 40%;
  left: 8.5%;
  font-size: 20px;
  background-color: #f7f5f0;
}

.review-button {
  margin: 10px;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 78%;
}

/* CSS FOR SINGLE PRODUCT VIEW */
.individual-product {
  padding: 20px;
  margin: 10px;
  width: 50%;

  position: relative;
  left: 20%;
  background-color: #f7f5f0;
  align-items: center;
  align-self: center;
  align-content: center;
  border-radius: 3%;
  text-align: center;
  font-family: 'Lucida Console', Monaco, monospace;
}

.text-effects {
  font-family: 'Lucida Console', Monaco, monospace;
  color: black;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

/* CSS FOR ABOUT US PAGE */
.who-we-are {
  padding: 50px;
  margin: 50px;
  line-height: 1.5em;
  background-color: hsl(43, 30%, 95%);
  border-radius: 1%;
}
.about-us-div {
  padding: 12px;
  margin: 12px;
  position: relative;
  left: 0.3%;
  background-color: #f7f5f0;
  line-height: 1.5em;
  border-radius: 3%;
}

.main-about-text {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: 80.5%;
  margin: 10px;
  transform: translate(-50%, -50%);
  font-size: 75px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  text-shadow: 8px 8px black, 20px 20px white;
}
.founder-names {
  margin: 50px auto;
  position: relative;
  font-size: 40px;
  margin-top: 0;
  font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
  text-shadow: 2px 3px 3px #292929;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px white;
}

.who-we-are-div {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: 50.5%;
  margin: 10px;
  transform: translate(-50%, -50%);
  font-size: 75px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  text-shadow: 8px 8px black, 20px 20px white;
  text-align: center;
  padding: 20px;
}

/* CSS FOR SHIPPING & BILLING PAGE */
.yes-no-shipping {
  padding: 35px;
  margin: 35px;
  width: 70%;
  border-radius: 2%;
  position: absolute;
  top: 66%;
  left: 8.5%;
  font-size: 20px;
  background-color: #f7f5f0;
}

.billing-info-form {
  padding: 35px;
  margin: 35px;
  width: 94.2%;
  border-radius: 2%;
  position: absolute;
  top: 5%;
  left: -35px;
  font-size: 20px;
  background-color: #f7f5f0;
}

.review-button-2 {
  margin: 10px;
  padding: 10px;
  background-color: white;
  position: absolute;
  bottom: -25%;
  left: 80%;
}

.checkout-billing-header {
  font-size: 22px;
  position: absolute;
  left: 3.5%;
  top: -11%;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.plus-minus-input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* CSS FOR USER HOME */

.sidebar-buttons-div {
  background-color: white;
  position: relative;
  bottom: -160px;
  width: 20%;
}
.sidebar-buttons {
  width: 40%;
  height: 10%;
  line-height: 5em;
  color: black;
  margin: 1em;
  border-style: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Lucida Console', Monaco, monospace;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  bottom: -2px;
  border-radius: 4%;
  box-shadow: 5px 10px #f7f5f0;
}

.individual-product-home {
  padding: 20px;
  margin: 10px;
  width: 50%;
  position: relative;
  left: 22%;
  top: -387px;
  background-color: #f7f5f0;
  align-items: center;
  align-self: center;
  align-content: center;
  border-radius: 3%;
  text-align: center;
  font-family: 'Lucida Console', Monaco, monospace;
}
.individual-product-home:hover {
  background-color: #feffe0;
  transform: scale(1.03);
}
.sidebar-buttons:hover {
  left: 15px; /* On mouse-over, make the elements appear as they should */
  color: darkblue;
  background-color: #feffe0;
}
.deal-img {
  position: absolute;
  top: 40%;
  left: 1%;
  width: 15%;
  height: 35%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

/* .home {
  display: flex;
  flex-wrap: wrap;
}

.home-children {
  flex: 1 0 21%;
position: ;} */

/* CSS FOR RESPONSIVENESS */
@-ms-viewport {
  width: device-width;
}

/* CSS FOR SHIPPING AND BILLING COMPONENT */
.save-info-button {
  margin: 10px;
  padding: 10px;
  background-color: white;
  position: relative;
  left: -10%;
}

.checkout-forms {
  padding: 35px;
  margin: 35px;
  width: 70%;
  border-radius: 2%;
  position: absolute;
  top: 38%;
  left: 8.5%;
  font-size: 20px;
  background-color: #f7f5f0;
}

.review-button {
  margin: 10px;
  padding: 10px;
  background-color: white;
  position: relative;
  left: 60%;
}

/* //CSS FOR TOAST NOTIFICATION */
.toast-notification {
  background-color: #e4e7f5;
  position: absolute;
  top: -1%;
  width: 200px;
  line-height: 1.5em;
  right: -50%;
  transition: width 2s;
  font-family: 'Lucida Console', Monaco, monospace;
  float: left;
  width: 200px;
  padding: 20px 30px;
  margin: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s;
}

.toast-text {
  font-family: 'Lucida Console', Monaco, monospace;
  color: red;
}

.cart-toast-notification {
  position: absolute;
  top: -13%;
  color: black;
  font-size: 22px;
  left: 145%;
}

/* CSS FOR BEST SELLER */
.best-seller-star {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 2%;
  left: 3%;
}

.sold-out-prod-text {
  position: absolute;
  top: 10%;
  left: 3%;
  color: red;
  text-decoration: underline;
  text-decoration-color: black;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 15px;
}
